<% if @resumes.length > 0 %>
<div class="panel panel-info cuspanel col-md-10 col-md-offset-1">
  <div class="panel-heading pahead">投递过的工作</div>
    <table class="table table-boldered table-striped custab2">
      <thead>
        <tr>
          <td>职缺</td>
          <td>薪资下限</td>
          <td>薪资上限</td>
          <td>发布时间</td>
        </tr>
      </thead>
      <tbody>
        <% @resumes.each do |resume| %>
        <tr>
          <td>
            <%= link_to(resume.job.title, job_path(resume.job)) %>
          </td>
          <td>
            <%= resume.job.wage_lower_bound %>
          </td>
          <td>
            <%= resume.job.wage_upper_bound %>
          <td>
            <% if resume.job.is_hidden %>
              <span>（职位已下线）</span>
            <% else %>
              <span><%= resume.job.created_at %></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <%= will_paginate @jobs, :previous_label => "« 上一页", :next_label => "下一页 »", renderer: BootstrapPagination::Rails %>
  </div>
</div>

<% else %>
  <div class="col-md-12 text-center resume_alert">
    <h2>你还没投递过任何职位哦！</h2><br />
    <p><%= link_to("立即查看工作", jobs_path, class: "btn btn-lg btn-success") %></p>
  </div>
<% end %>
