<div class="container-fluid">
  <div class="col-md-3 searchbox pull-right">
    <%= form_tag search_jobs_path , :method => :get  do %>
    <div class="input-group" id="search-id" >
      <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入职位信息">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>

    </div>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top: 0; margin-bottom: 300px;">
<div class="dropdown clearfix pull-right orderbtn">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("按薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("按薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to("按发布时间排序", jobs_path) %>
    </li>
  </ul>
</div>

<div class="panel panel-info cuspanel col-md-8 col-md-offset-2">
  <% @jobs.each do |job| %>
  <div class="panel-heading pahead"><%= link_to(job.title, job_path(job)) %></div>
  <div class="panel-body">
    <div class="col-md-6 info">
      <div class="info-up">
        <p><i class="fa fa-tag" aria-hidden="true"></i> <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></p>
      </div>
      <div class="info-down">
        <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= job.created_at %> </p>
      </div>
    </div>
    <div class="col-md-6 access">
      <div class="access-top">
        <p><i class="fa fa-user-circle-o" aria-hidden="true"></i> 认证企业</p>
      </div>
      <div class="access-down">
        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> <%= link_to("了解详情", job_path(job)) %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>


  <div class="text-center wpage">
    <%= will_paginate @jobs, :previous_label => "« 上一页", :next_label => "下一页 »", renderer: BootstrapPagination::Rails %>
  </div>
</div>



  <% if !current_user %>
   <div class="logintoolbar" id="logintoolbar">
     <div class="row huebg">
       <div class="toolcontent">
         <div class="toolslogan">在无忧<br />发现新的职业机会</div>
         <div class="bar-login"><%= link_to("登入", new_user_session_path) %></div>
         <div class="bar-right"><span class="fa fa-arrow-circle-right"></span> <%= link_to("极速注册", new_user_registration_path) %></div>
       </div>
     </div>
   </div>
   <% end %>
