<div>
  <% if @query_string.blank? %>
    <div class="search-info-error">
      <h4><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 搜索信息不能为空，请输入关键字搜索。</h4>
      <div class="text-center" style="margin-top: 20px;">
        <%= link_to("返回搜索", jobs_path, :class => "btn btn-lg btn-default") %>
      </div>
    </div>

  <% elsif @jobs.blank? %>
    <div class="search-info-error2">
      <h4><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> 暂无此项工作</h4>
      <div class="text-center" style="margin-top: 20px;">
        <%= link_to("查看职位列表", jobs_path, :class => "btn btn-lg btn-success") %>
      </div>
    </div>

  <% else %>
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center search-result">
        <h2>有关"<%= @query_string %>"的工作信息</h2>
      </div>

      <div class="panel panel-info cuspanel col-md-8 col-md-offset-2">
        <% @jobs.each do |job| %>
        <div class="panel-heading pahead"><%= link_to(render_highlight_content(job, @query_string), job_path(job)) %></div>
        <div class="panel-body">
          <div class="col-md-6 info">
            <div class="info-up">
              <p><i class="fa fa-tag" aria-hidden="true"></i> <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></p>
            </div>
            <div class="info-down">
              <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= job.created_at %> </p>
            </div>
          </div>
          <div class="col-md-6 access">
            <div class="access-top">
              <p><i class="fa fa-user-circle-o" aria-hidden="true"></i> 认证企业</p>
            </div>
            <div class="access-down">
              <p><i class="fa fa-paper-plane" aria-hidden="true"></i> <%= link_to("了解详情", job_path(job)) %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>



  <div class="text-center">
    <%= will_paginate @jobs, :previous_label => "« 上一页", :next_label => "下一页 »", renderer: BootstrapPagination::Rails %>
  </div>
  <% end %>

  </div>
