<div class="row" style="margin-bottom: 380px;">
<div class="pull-right resumebtn">
  <%= link_to("投递简历", new_job_resume_path(@job), :class => "btn btn-lg btn-success") %>
</div>

<div class="job-show col-md-10 col-md-offset-1">
  <div class="row">
    <table class="table table-boldered">
      <div class="cus-admin-show-head">
          <h1 class="cus-admin-show-content"> <%= @job.title %> </h1>
      </div>
      <div class="admin-pricetag">薪资范围：<span style="color:#fd5f39;"><%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %></span>
        <span class="pull-right" style="padding-right: 20px;">
          <% if current_user && current_user.favorite?(@job) %>
          <%= link_to discollect_job_path(@job), method: :post do %><i class="fa fa-heart" aria-hidden="true"> 取消收藏</i><% end %>
          <% else %>
          <%= link_to collect_job_path(@job), method: :post do %><i class="fa fa-heart-o" aria-hidden="true"> 收藏</i><% end %>
          <% end %>
        </span>
      </div>
      <div class="admin-show-job">
        <%= simple_format(@job.description) %>
      </div>
    </table>
  </div>
</div>
</div>
