
<div class="pull-right resumebtn">
  <%= link_to("投递简历", new_job_resume_path(@job), :class => "btn btn-lg btn-success") %>
</div>

<div class="job-show col-md-10 col-md-offset-1">
  <div class="row">
    <div class="cus-admin-show-head">
        <h1 class="cus-admin-show-content"> <%= @job.title %> </h1>
    </div>
    <div class="admin-pricetag">薪资范围：<span style="color:#fd5f39;"><%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %></span></div>
    <div class="admin-show-job">
      <%= simple_format(@job.description) %>
    </div>
  </div>
</div>
