<div class="panel panel-info cuspanel col-md-10 col-md-offset-1">
  <div class="panel-heading pahead">收藏的工作</div>
    <table class="table table-boldered table-striped custab2">
      <thead>
        <tr>
          <td>职缺</td>
          <td>薪资下限</td>
          <td>薪资上限</td>
          <td>发布时间</td>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= link_to(job.title, job_path(job)) %>
          </td>
          <td>
            <%= job.wage_lower_bound %>
          </td>
          <td>
            <%= job.wage_upper_bound %>
          <td>
            <%= job.created_at %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <%= will_paginate @jobs, :previous_label => "« 上一页", :next_label => "下一页 »", renderer: BootstrapPagination::Rails %>
  </div>
</div>
